<div class="grid grid-cols-2 items-start">
  <div>
    <span>
      <strong>ID:</strong>
      <%= comment.id %>
    </span>
    <span>
      |
    </span>
    <span>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </span>
    <span>
      |
    </span>
    <span>
      <strong>status:</strong>
      <%= comment.status %>
    </span>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>

  <button class="w-40 p-1 rounded-lg bg-red-600 text-white">
    <%# use this when resources :article, shallow: false by default %>
    <%# <%= link_to "Destroy Comment", article_comment_path(comment.article, comment), data: { %>

    <%# use this when resources :article, shallow: true %>
    <%= link_to "Destroy Comment", comment_path(comment), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </button>
</div>
