<%= form_with model: article do |form| %>
  <div class="mb-2">
    <p class="font-bold"><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
    <p>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <%= message %>
      <% end %>
    </p>
  </div>
  <div class="mb-2">
    <p class="font-bold"><%= form.label :body %></p>
    <p><%= form.text_area :body %></p>
    <p>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <%= message %>
      <% end %>
    </p>
  </div>
  <div class="mb-2">
    <%= form.label :status %>
    <br>
    <%= form.select :status, %w[public private archived], selected: 'public' %>
  </div>
  <button class="w-48 p-1 bg-blue-800 text-white rounded-lg">
    <%= form.submit %>
  </button>
<% end %>
